# Exemplo de configuração para e-mail via Brevo SMTP
# Copie para .env e ajuste valores

SITE_URL=http://127.0.0.1:8000

# Backend SMTP do Django
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
# No Brevo, o usuário é o próprio e-mail autenticado ou API Key
EMAIL_HOST_USER=eventoensina@gmail.com
# Use a API Key do Brevo como senha (SMTP Key)
EMAIL_HOST_PASSWORD=xsmtpsib-COLOQUE_SUA_CHAVE_AQUI
DEFAULT_FROM_EMAIL=SGEA <eventoensina@gmail.com>
