strong {
    color: #d4af37;
}

hr {
    height: 1px;
    color: #d4af37;
}

.perfil-left {
    background-color: rgb(72, 0, 0);
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 20px;
    height: 700px;
}

/* Imagem de perfil centrlizada no asside */
.perfil-left img {
    border: 2px solid #d4af37;
    display: block;
    margin: 0 auto 0 auto !important;
}

.profile {
    border: 2px solid #d4af37;
    border-radius: 10px;
    padding: 10px;
}

.card img {
    border-radius: 20px !important;
    filter: drop-shadow(0 0 10px #d4af37);
}