.titulo-evento {
    text-align: center;
    color: darkred;
    filter: drop-shadow(0 0 1px goldenrod);
    text-shadow: 0 0 3px goldenrod;
}

strong {
    color: goldenrod;
}

.event-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.image-column img{
    border-radius: 10px;
    filter: drop-shadow(0 0 5px goldenrod);
}

.separador{
    display: flex;
    flex-direction: column;
    height: 400px;
    border-left: 1px solid goldenrod;
    width: 0;
}

.details-column{
    padding: 10px;
    background-color: #3d2424 ;
    border-radius: 10px;
    max-width: 500px;
}

/* estilo descrição, caixa de texto seguindo a escrita */
.descricao {
    white-space: pre-wrap;
    word-wrap: break-word;
}

hr {
    border: 0;
    height: 1px;
    background: goldenrod;
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

form button[type="submit"] {
    margin: auto;
}